.row {
    // width: 1140px;
    // 1 rem = 10px
    // width: 114rem;
    max-width: $grid-width;
    // background-color: #eee;
    // Used to center block element inside another block element
    margin: 0 auto;

    // Everything except last child will have following property
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
          }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
      }

    // Clears extra margin cause of float
    @include clearfix;

    // attribute selector -> ^= means starts with
    [class^="col-"] {
        // background-color: orangered;
        float: left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
              }
        }

        @include respond(tab-port) {
            width: 100% !important;
          }
    
    }


    .col-1-of-2 {
        // calculation happens while rendering Visual FM (compile time)
        // #{variable-name} to use sass variable in sass
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
    }

    .col-1-of-4 {
        width: calc((100% - 3 *#{$gutter-horizontal}) / 4);
    }
    
}